$color_back_main: #ffffff;
$color_back_extra: #e34234;
$color_back_light: #e34234;
$color_back_body: #f8f8f8;
$color_text_main: #000000;
$color_text_extra: #ffffff;
$color_text_special: #e34234;
$color_text_faint: gray;
$color_detail: #f8f8f8;
$color_frame: gray;
$color_trans: #0000;

